# api/src/main/resources/application-docker.yml
server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:tcp://h2:9092/mem:citaprevia;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    username: sa
    password: 
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    uoc.edu.citaprevia: DEBUG